*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-color: var(--wa-color-neutral-50) var(--wa-color-neutral-0);
}

html,
body,
:root,
#app,
*,
*::before,
*::after {
  font-family: monospace;
}
