* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: var(--sl-color-neutral-500) var(--sl-color-neutral-0);
}

html,
body,
:root,
#app,
* {
  --sl-font-sans: system-ui, san-serif;
  --sl-font-serif: system-ui, serif;
  --sl-font-mono: system-ui, monospace;
  --sl-input-focus-ring-color: var(--sl-color-primary-200);
  font-family: system-ui;
}
