*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: var(--wa-color-neutral-50) var(--wa-color-neutral-0);
}

html,
body,
:root,
#app,
*,
*::before,
*::after {
  --wa-font-sans: system-ui, san-serif;
  --wa-font-serif: system-ui, serif;
  --wa-font-mono: system-ui, monospace;
  font-family: system-ui;
}
